---
---

<section id="about" class="container">
  <div class="about-text">
    <p>
      Hi, I'm <strong>Piotr</strong>, a web developer from <strong
        >Bournemouth, UK</strong
      >. I create websites that are fast, responsive and easy to use. I also
      love to code, and I'm always looking for new challenges.
    </p>
    <p>
      When I'm not coding, I enjoy reading, playing video games and watching
      movies. That's when my two little boys aren't keeping me busy.
    </p>
  </div>
</section>

<style>
  #about {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .about-text {
    background-color: #f4f4f4;
    border: 2px solid black;
    box-shadow: black 4px 4px;
    padding: 2rem;
  }
</style>
