---
---

<section id="contact">
  <div class="contact-text">
    <p>
      I am currently looking for a new role and am open to a wide range of
      opportunities. My preference would be to find a remote position , however
      I am happy to discuss opportunities outside of this area. My ideal
      position would involve me working on a variety of interesting and
      meaningful projects on a daily basis.
    </p>
    <p>
      Please do feel free to contact me. I am always happy to have an informal
      chat to any perspective employers about any opportunities that my
      experience may be of value.
    </p>
    <div class="card-bottom">
      <a href="mailto:piotrek.webdev@gmail.com" class="email-btn"
        >Email Me <i class="fa-regular fa-paper-plane"></i></a
      >
      <a href="https://www.linkedin.com/in/piotrek-codes" class="linkedin-btn"
        >LinkedIn <i class="fa-brands fa-linkedin"></i></a
      >
    </div>
  </div>

  <style>
    #contact {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    .contact-text {
      border: 2px solid black;
      box-shadow: 4px 4px black;
      background-color: #f4f4f4;
      padding: 1rem;
    }

    .card-bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
    }

    .email-btn {
      background-color: #b6eada;
      color: black;
      border: 2px solid black;
      padding: 0.5rem 1rem;
      margin-right: 1rem;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: bold;
      transition: all 0.3s ease-in-out;
    }

    .email-btn:hover {
      transform: scale(1.1);
    }

    .linkedin-btn {
      background-color: #5b8fb9;
      color: black;
      border: 2px solid black;
      padding: 0.5rem 1rem;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: bold;
      transition: all 0.3s ease-in-out;
    }

    .linkedin-btn:hover {
      transform: scale(1.1);
    }
  </style>
</section>
