---
---

<footer>
  <p>
    &copy; <span id="copyright"></span> Piotrek Codes | Built with <a
      class="footer-link"
      href="https://astro.build">Astro</a
    >
  </p>
</footer>

<script>
  // typescript doesn't like this, but it works
  // @ts-ignore
  document.querySelector('#copyright').textContent = new Date()
    .getFullYear()
    .toString();
</script>

<style>
  footer {
    text-align: center;
    border-top: 2px solid #03001c;
    font-size: 1rem;
    flex-shrink: 0;
  }

  .footer-link {
    color: #03001c;
    text-decoration: none;
    font-weight: 600;
  }

  .footer-link:hover {
    text-decoration: underline;
  }
</style>
