---
---

<div>
  <nav>
    <a class="logo" href="/">Piotr Krawczyk</a>
    <ul class="menu">
      <li><a class="menu-item" href="#projects">Projects</a></li>
      <li><a class="menu-item" href="#skills">Skills</a></li>
      <li><a class="menu-item" href="#contact">Contact</a></li>
      <li class="resume-btn">
        <a
          href="https://www.dropbox.com/s/x3h4daxrakq2knu/Piotr%20Krawczyk%20CV.pdf?dl=0"
          >Resume</a
        >
      </li>
    </ul>
  </nav>
</div>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px black;
    box-shadow: black 4px 4px;
    background-color: #f4f4f4;
    padding: 2rem;
    margin: 2rem 0;
  }

  .logo {
    font-size: 22px;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  li {
    list-style: none;
    margin-right: 10px;
  }

  .menu-item:hover {
    border-bottom: 2px solid #b6eada;
  }

  .resume-btn {
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .resume-btn:hover {
    background-color: #b6eada;
  }

  // Media queries
  @media (max-width: 768px) {
    nav {
      flex-direction: column;
      padding: 1rem;
    }
  }
</style>
