---
---

<div class="container">
  <nav>
    <a class="logo" href="/">Piotr Krawczyk</a>
    <ul class="menu">
      <li><a href="">About</a></li>
      <li><a href="">Projects</a></li>
      <li><a href="">Contact Me</a></li>
      <li class="resume-btn"><a href="">Resume</a></li>
    </ul>
  </nav>
</div>

<style>
  .container {
    max-width: 850px;
    margin: 0 auto;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px black;
    box-shadow: black 4px 4px;
    background-color: white;
    padding: 2rem;
    margin: 2rem 0;
  }

  .logo {
    font-size: 22px;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: #202129;
  }

  li {
    list-style: none;
    margin-right: 10px;
  }

  .resume-btn {
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
</style>
