---
---

<section id="skills">
  <div class="skills-text"></div>
</section>

<style>
  .skills-text {
    border: 2px solid black;
    box-shadow: 4px 4px black;
    background-color: #f4f4f4;
    padding: 1rem;
  }
</style>
