---
---

<section id="skills">
  <div class="skills-text">
    <p>
      I am a <strong>Le Wagon</strong> bootcamp graduate where I have learned <b
        >Ruby on Rails</b
      >, <b>JavaScript</b>, <b>SQL</b>, <b>Git</b>, <b>GitHub</b>, <b>Heroku</b
      >, and more. I have also learned how to build a website from scratch, how
      to use APIs, and how to deploy a website. I have also learned how to use
      the Agile methodology and how to work in a team. I am currently learning <b
        >Typescript</b
      >
      and <b>NextJS</b>.
    </p>
  </div>
</section>

<style>
  #skills {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .skills-text {
    border: 2px solid black;
    box-shadow: 4px 4px black;
    background-color: #f4f4f4;
    padding: 1rem;
  }
</style>
